.Form {

    text-align: center;
    background-color: aqua;
    min-height: 200px;
    width: calc(100% - 100px);
}

label {

    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}